aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
banks
beautifulsoup4
blinker
cachetools
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
dataclasses-json
Deprecated
dirtyjson
distro
dotenv
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
faiss-cpu
filelock
filetype
Flask
fonttools
fpdf
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
griffe
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
language_data
llama-cloud
llama-cloud-services
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
logging
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mpmath
multidict
murmurhash
mypy_extensions
narwhals
nest-asyncio
networkx
nltk
numpy
oauth2client
openai
orjson
packaging
pandas
pillow
pinecone
pinecone-plugin-interface
platformdirs
plotly
preshed
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
pypdf
PyPDF2
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
rank-bm25
referencing
regex
reportlab
requests
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
streamlit
striprtf
sympy
tabulate
tenacity
thinc
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
wasabi
watchdog
weasel
Werkzeug
wrapt
yarl
zstandard
